{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block body %}
    {% block content %}
        <h1>AGG bis, like AGG, but in different</h1>
{#        {% for %}#}

{#        {% endfor %}#}
    {% endblock %}
{% endblock %}
