<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AGG bis{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/build/app.css">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
</head>
<body>
    <div id="menu">
        <nav>
            <ul>
                <a href="/"><img src="/build/images/logoAGG.2b45c975.png" alt="logo du site" id="logo"></a>
                <li><a href="">Articles</a></li>
                <li><a href="/user/writer-space">Writer</a></li>
                <li><a href="/user/modo-space">Moderator</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="">Log in</a></li>
                <li><a href="/register">Register</a></li>
                <li>Lang : </li>
                <img src="" alt="">
            </ul>
        </nav>
    </div>
    {% block body %}
            {% block content %} {% endblock %}
    {% endblock %}
    <script src="/build/app.js"></script>
</body>
</html>
